body {
    color: #fff;
}


.choice-container {
    display: flex;
    margin-bottom: 15px;
    width: 50%;
    border-radius: 2px;
    background:#1a3a8a;
    font-size: 16px;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 2px 2px 4px #3b5ea8;
    transform: scale(1.05);
    transform: transform 100ms;
}

.beginGameDisplay {
    display: flex;
    left: 20px;
}


#timer {
    position: absolute;
    top: 15px;
    right: 10px;
}

#score {
    position: absolute;
    top: 15px;
    left: 10px;
}

#gameStartDisplay {
    position: absolute;
    top: 25%;
    left: 35%;
}

#gameQuestions {
    position: absolute;
    top: 30%;
    left: 35%;
}

#question {
    width: 60%;
    text-align: center;
}