body {
    color: #fff;
}


.choice-container {
    display: flex;
    margin-bottom: 15px;
    width: 50%;
    border-radius: 2px;
    background:#1a3a8a;
    font-size: 16px;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 2px 2px 4px #3b5ea8;
    transform: scale(1.05);
    transform: transform 100ms;
}

.beginGameDisplay {
    display: flex;
    justify-content: space-between;
}

#timer {
    position: absolute;
    top: 15px;
    right: 10px;
}

#score {
    position: absolute;
    top: 15px;
    left: 10px;
}

#progressText {
    position: absolute;
    top: 75px;
    left: 40%;
}

#gameQuestions {
    position: absolute;
    top: 50%;
    left: 20%;
}


}