@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    background-color: #0b0a14;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-family: 'Press Start 2P', cursive;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 36px;
    margin-bottom: 14px;
    color: #fff;
    padding-bottom: px;
}

.gameInfo {
    color: #e8e23f;
    text-align: center;
    font-size: 12px;
    line-height: 1.5;
    padding-bottom: 30px;
}

h2 {
    text-align: center;
}

h2 a { 
    color: #167326;
}


.container {
    position: absolute;
    height: 200px;
    top: 50%;
    left: 40%;
    display: flex;
    justify-content: center;  
    align-items: center;
    margin: -100px 0 0 -150px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.btn {
    font-size: 24px;
    text-shadow: 2px 2px #34eb55;
    text-align: center;
}

.btn:hover {
    color: 	#34eb55;
    cursor: pointer;
}